# v2 sintax
version: '2'

# Named volumes
volumes:
  # MySQL Data
  harpia-mysql-data:
    driver: local
  harpia-postgres-data:
    driver: local


services:
  # MySQL (5.7)
  mysql:
    image: ambientum/mysql:5.7
    container_name: harpia-mysql
    volumes:
      - harpia-mysql-data:/var/lib/mysql
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=harpia
      - MYSQL_DATABASE=harpia
      - MYSQL_USER=harpia
      - MYSQL_PASSWORD=harpia

  pgsql:
    image: postgres
    container_name: harpia-postgres
    volumes:
      - harpia-postgres-data:/var/lib/postgresql/data
    ports:
      - "5436:5432"
    environment:
      - POSTGRES_USER=harpia
      - POSTGRES_PASSWORD=harpia


  web:
    image: ambientum/php:7.1-apache
    container_name: harpia-web
    volumes:
      - .:/var/www/app
    ports:
      - "80:8080"
    links:
      - mysql
      - pgsql