.btn-primary {
  color: white;
}

.btn-primary:hover {
  color: white
}

.btn-success {
  color: white;
}

// Box para Verificação Pessoa por CPF
.vp-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}