// Este arquivo contém os estilos específicos do seu tema/aplicação
// que não são relacionados diretamente ao Bootstrap ou Admin-LTE



.login-page,
.register-page {
  background-color: #d2d6de;
}

.bg-harpia-primary {
  background-color: $blue-ncs;
}

.bg-harpia-secondary {
  background-color: $antiflash-white;
}

.text-harpia-primary {
  color: $blue-ncs;
}

.text-harpia-secondary {
  color: $antiflash-white;
}